<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>vue学习</title>
        <script src="https://cdn.bootcss.com/vue/2.3.4/vue.js"></script>
    </head>
    <body>
        <div id="app">
            {{price}}<br>
            <input v-model="price"><br><!-- 下行注释的语法糖 -->
            <!-- <input :value="price" @input="price = $event.target.value"> -->
            {{5+5}}<br>
            {{ok?'yes':'no'}}<br>
            {{message.split('').reverse().join('')}}<br>
            {{message.split('')}}<br>
            <div v-bind:id="'list-'+id" v-if="seen">菜鸟教材</div>
            <p>{{message}}</p>
            <button v-on:click="reverseMessage">反转字符串</button><br>
            {{message2 | capitalize}}<br>
        </div>
        <div id="app2">
            <p v-if="seen">这是可以看到的</p>
            <template v-if="ok">
                <h1>这是测试页面</h1>
                <p>12345</p>
                <p>67890</p>
            </template>
            <h3>随机生成数字并判断是否大于5</h3>
            <div v-if="Math.random()>0.5">随机数字大于5</div>
            <div v-else>随机数字小于5</div>
            <p>类型判断</p>
            <div v-if="type==='A'">A</div>
            <div v-else-if="type==='B'">B</div>
            <div v-else-if="type==='C'">C</div>
            <div v-else>NOT A/B/C</div>
            <ul>
                <li v-for="site in sites">
                    {{site.name}}
                </li>
                <li v-for="value in object ">
                    {{value}}
                </li>
                <li v-for="(value2,key) in object ">
                    {{key}}:{{value2}}
                </li>
                <li v-for="(value3,key2,index) in object ">
                    {{value3}}:{{key2}}:{{index}}
                </li>
            </ul>
            <br>
            <ul>
                <li v-for="n in 10">
                    {{n}}
                </li>
            </ul>
        </div>
        <script>
            new Vue({
                el: '#app',
                data: {
                    price: '20',
                    ok:false,
                    message:'runoob',
                    id:1,
                    seen : true,
                    message2:'abcdefg'
                    
                },
                methods:{
                    reverseMessage:function(){
                        this.message = this.message.split('').reverse().join('')
                    }
                },
                filters:{
                    capitalize:function(value){
                        if(!value) return ''
                        value = value.toString()
                        //JavaScript charAt() 方法
                        //
                        return value.charAt(0).toUpperCase()+value.slice(1)
                    }
                }
            });
            new Vue({
                el:'#app2',
                data:{
                    seen:true,
                    ok:true,
                    type:'C',
                    sites:[{name:'runoob'},{name:'google'},{name:'taobao'}],
                    object:{
                        name:'title',
                        url:'http:url',
                        slogan:'abcdefghejklmn'
                    },
                    name:'google',
                    url:'http://www.google.com'

                },
                
            });
            var vm = new Vue({
                el:'#app3',
                data:{
                    name : 'google',
                    url : 'http://www.google.com'
                },
                computed:{
                    site:{
                        get:function(){
                            return this.name + ' ' + this.url
                        },
                        set:function(newvalue){
                            var names = newvalue.split(' ')
                            this.name = names[0]
                            this.url = names[names.length-1]

                        }
                    }
                }
            })
            vm.site = '阿斯蒂芬 http';
            document.write('name:'+vm.name);
            document.write('<br>');
            document.write('url:'+vm.url);

        </script>
    </body>
</html>